*{
    background-color: rgb(186, 180, 180);
}
button{
    display: block;
    
    color: rgb(90, 47, 131);
    font-size: medium;
    font-style: italic;
    padding: 3px;
    background-color: rgb(102, 171, 148);
    margin: 50%;
    height: inherit;
    width: 150px;
}